<form [formGroup]="addForm" novalidate (submit)="submitForm($event)">
  <fieldset class="form-group" formGroupName="userFullName">
    <div class="form-group">
      <input class="form-control __white" type="text" formControlName="userFirstName" placeholder="first name"/>
    </div>
    <div class="form-group">
      <input class="form-control __white" type="text" formControlName="userLastName" placeholder="last name"/>
    </div>
  </fieldset>
  <div class="form-group">
    <input class="form-control __white" type="text" formControlName="userGroupName" placeholder="Group"/>
  </div>
  <div class="form-group">
    <input class="form-control __white" type="number" formControlName="userAge" placeholder="Age"/>
  </div>
  <div class="form-group">
    <input class="form-control __white" type="text" formControlName="userAvgMark" placeholder="Average mark"/>
  </div>
  <div class="form-group">
    <input class="form-control __white" type="date" formControlName="userBirthDay" placeholder="birthday"/>
  </div>
  <input class="form-control __white" type="text" formControlName="userFlage" hidden/>
  <button type="submit" class="btn btn-light btn-aborder btn-nofx" [disabled]="addForm.invalid">< Submit ></button>
</form>
