<h1>List of students</h1>
<table>
  <tr>
    <th (click)="sortby('id')">ID</th>
    <th (click)="sortby('name')">Name</th>
    <th (click)="sortby('surname')">Surname</th>
    <th (click)="sortby('age')">Age</th>
    <th (click)="sortby('avgmark')">Average mark</th>
  </tr>
  <tr *ngFor="let student of students; let i = index" [class.red]="student.avgmark < 4 && light">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.surname}}</td>
    <td>{{student.age}}</td>
    <td>{{student.avgmark}}</td>
    <td><button (click)="remove(i)">Delete</button></td>
  </tr>
</table>
<div>
  <button (click)="toggle()">Off lights of row</button>
</div>
<app-modal (onChanged)="onCloseModal($event)"></app-modal>
