<div class="container">
  <h1>List of students</h1>
  <div class="actions">
    <div class="actions__item">
      <label class="form-label">Sort by field</label>
      <div class="form-group">
        <select #selected class="form-control">
          <option name="id" value="id">ID</option>
          <option name="name" value="name">name</option>
          <option name="surname" value="surname">surname</option>
          <option name="birthday" value="birthday">birthday</option>
          <option name="age" value="age">age</option>
        </select>
      </div>
      <div class="form-group">
        <select #sort class="form-control">
          <option value="true">ASC</option>
          <option value="false">DESC</option>
        </select>
      </div>
      <button class="btn btn-small" (click)="sortby(selected.value, sort.value)">Get</button>
    </div>
    <div class="actions__item">
      <label class="form-label">Search student by field</label>
      <div class="form-group">
        <select #searchfield class="form-control">
          <option name="name" value="name">name</option>
          <option name="surname" value="surname">surname</option>
        </select>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" #str placeholder="enter the word"/>
      </div>
      <button class="btn btn-small" (click)="search(str.value, searchfield.value)">Search</button>
      <button class="btn btn-small" (click)="this.isNumber = 0">Reset</button>
    </div>
  </div>
  <div class="table">
    <table class="main-list">
      <tr>
        <th (click)="sortby('id')">ID</th>
        <th (click)="sortby('name')">Name</th>
        <th (click)="sortby('surname')">Surname</th>
        <th (click)="sortby('birthday')">Birthday</th>
        <th (click)="sortby('age')">Age</th>
        <th (click)="sortby('groupname')">Group</th>
        <th (click)="sortby('avgmark')">Average mark</th>
        <th>Edit</th>
        <th>&nbsp;</th>
      </tr>
      <tr [ngClass] = "{'green': student.flage,'red': student.avgmark < 4 && light}" [appModer]="isNumber" *ngFor="let student of students;
    let i = index;">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.surname}}</td>
        <td>{{student.birthday | CustomDate:'dd-MM-yyyy'}}</td>
        <td>{{student.age}}</td>
        <td>{{student.groupname}}</td>
        <td>{{student.avgmark}}</td>
        <td><button class="btn btn-nofx" (click)="setStudentIndex(i); this.target = 'editStudent'; this.popUpOpen = true">Edit</button></td>
        <td><button class="btn btn-nofx" (click)="remove(i)">X</button></td>
      </tr>
    </table>
  </div>
  <div class="form-button">
    <button class= "btn" (click)="toggle()">Off lights of row</button>
  </div>
  <div class="form-button">
    <button class= "btn" (click)="this.target = 'addStudent'; this.popUpOpen = true">Add new students</button>
  </div>

</div>
<app-popup class="my-prompt" [isOpen]="popUpOpen">
  <div class="box" *ngIf="target == 'box'">
    <header class="header">
      <span class="title">Delete Record</span>
    </header>
    <main class="main">
      Are you sure you want to delete this record?
    </main>
    <footer class="footer">
      <button class="btn btn-light btn-aborder btn-nofx" (click)="deleteOption()">&lt;&nbsp;Delete&nbsp;&gt;</button>
      <button class="btn btn-light btn-aborder btn-nofx" (click)="cancelOption()">&lt;&nbsp;Cancel&nbsp;&gt;</button>
    </footer>
  </div>
  <div class="box" *ngIf="target == 'addStudent'">
    <header class="header">
      <span class="title">Add student</span>
    </header>
    <main class="main">
      <app-add-form [setForm]="false"></app-add-form>
    </main>
    <footer class="footer">

      <button class="btn btn-light btn-aborder btn-nofx" (click)="cancelOption()">&lt;&nbsp;Cancel&nbsp;&gt;</button>
    </footer>
  </div>
  <div class="box" *ngIf="target == 'editStudent'">
    <header class="header">
      <span class="title">Edit student</span>
    </header>
    <main class="main">
      <app-add-form [indexElement]="index" [setForm]="true"></app-add-form>
    </main>
    <footer class="footer">
      <button class="btn btn-light btn-aborder btn-nofx" (click)="cancelOption()">&lt;&nbsp;Cancel&nbsp;&gt;</button>
    </footer>
  </div>
</app-popup>

